<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.service.dal.mapper.ClientInfoMapper">

    <select id="selectByClientId" resultType="com.matrix.service.dal.entity.ClientInfo">
        SELECT * FROM tbl_client_info WHERE user_id = #{user_id} AND client_id = #{client_id} LIMIT 1
    </select>

    <select id="selectByUserId" resultType="com.matrix.service.dal.entity.ClientInfo">
        SELECT * FROM tbl_client_info WHERE user_id = #{user_id}
    </select>

</mapper>


